<div class="row">




  <div class="col-md-6 mx-auto">
    <div class="card add_word">
      <div class="card-body">

        <form action="/dictionary/add_word" method="post">

          <label></label>
          <div class="form-group">
            <input type="text" class="form-control" id="word" name="word" placeholder="word" required>
          </div>

          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
    </div>
  </div>






</div>
