<div class="container">
  <form action="/dictionary/add_word" method="post">
    <div class="row">
      <div class="form-group col-md-4">
        <label>Word</label>
        <input type="text" class="form-control" id="word" name="word">
      </div>

    </div>

    <div class="form-group">
      <label>Definition</label>

      <textarea name="definition" name="definitions" class="form-control" rows="4" cols="80"></textarea>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


</div>
