<div class="row dictionary_view" style="height: 200px;">

  <div style="display: block; margin: auto">
    <p><a href="/console/reset">reset database</a> | <a href="/console/hard">load hard words</a> | <a href="/console/hard_db">load hard words with definitions</a></p>

  </div>

</div>
<div class="go_back">
  <a href="/dictionary" class="float-left">⬅️ go back</a>
</div>
