<div class="row dictionary_view">

  <ul>
    <% if @all_words.length == 0 %>
    <li class="empty"><small>dictionary empty</small></li>

    <% end %>
    <% @all_words.each do |word| %>
    <li> <a href="/definition/<%= word.word_id %>"> <%= word.word.capitalize %> </a></li>
    <% end %>
  </ul>

</div>
