<div class="app">
  <div class="row app_nav">
    <div class="col mx-auto">

      <form action="/dictionary" method="get" target="app_view">
        <button type="submit" name="view">
          <i class="fas fa-glasses" id="glasses"></i>
        </button>
        <p>View all words</p>
      </form>

    </div>

    <div class="col mx-auto">

      <form action="/dictionary/add_word" method="get" target="app_view">
        <button type="submit" value="add_word">
          <i class="fas fa-plus" id="add"></i>
        </button>
        <p>Add new word</p>
      </form>
    </div>

  </div>

  <div class="container-fluid app_view">
    <iframe src="/dictionary" name="app_view" id="app_view" frameborder="0"></iframe>
  </div>

  <div class="app_options">
    <small><a href="/console" target="app_view">options</a></small>
  </div>
</div>
