a {
  color: #494545;
}
.app {
  height: 100vh;
  overflow: hidden;
}


.app_box {
  /* position: relative; */

  /* margin: auto; */
  /* width: 90vw; */
  /* bottom: 40px; */
  height: 80%;
  margin-bottom: 20px;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll; 
}

.options {
  position: fixed;
  bottom: 0;
  background-color: white;
  display: block;
  width: 100%;
  z-index: 100;
}

.options a {
color: #8e8e8e;
border-bottom: 2px dotted #ddd;
}

.options a:hover {
  color: #8e8e8e;
  border-bottom: none;
}

.button_nav {
  margin: 25px 0;
}

.button_nav button {
  text-shadow: 2px 2px 4px #666666;
  cursor: pointer;
  margin: auto;
  font-size: 32px;
  background-color: #28a745;
  border-color: #28a745;
  color: white;
  display: block;
  height: 72px;
  width: 72px;
  border-radius: 50%;
}

.button_nav p {
  text-align: center;
}

.button_nav i {
  text-align: center;
}

.dictionary_view {
  height: 100%;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.dictionary_view ul {
  list-style: none;
  width: 100%;
  padding: 0;
}

.dictionary_view li {
  padding: 10px 0 7px 30px;
  line-height: 42px;
}

.dictionary_view li:nth-child(even) {
  background: #f2f2f2;
}

.definition ul {
  list-style-type: circle;
  padding-left: 15px;
}

.definition li {
  padding: 0 0 10px 5px;
  line-height: 22px;

}

.go_back {
  margin-top: 30px;
}
