a {
  color: #494545;
}

.app_box {
  height: 80vh;
}

.interface_nav {
  margin: 25px 0;
}

.interface_nav label {
  display: block;
  text-align: center;
}

.styled_buttons {
  text-shadow: 2px 2px 4px #666666;
  cursor: pointer;
  margin: auto;
  font-size: 32px;
  background-color: #28a745;
  border-color: #28a745;
  color: white;
  display: block;
  height: 72px;
  width: 72px;
  border-radius: 50%;
}

.dictionary_view {
  height: 100%;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.dictionary_view ul {
  list-style: none;
  width: 100%;
  padding: 0;
}

.dictionary_view li {
  padding: 10px 0 7px 30px;
  line-height: 42px;
}

.dictionary_view li:nth-child(even) {
  background: #f2f2f2;
}

.add_definition ol {
  padding-left: 15px;
}

.go_back {
  margin-top: 30px;
}
